label {
    display: block;
    margin-top: 10px;
}
#emailSign {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
#sign-up, #sign-in, #board-save {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
}