<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from goodfood_board_table order by id desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="Integer">
        select count(id) from goodfood_board_table
    </select>

    <select id="searchList" parameterType="java.util.HashMap" resultType="board">
        select * from goodfood_board_table
        where boardStoreName like concat('%', #{q}, '%') or
            boardStoreAddress like concat('%', #{q}, '%') or
            boardStoreKind like concat('%', #{q}, '%')
        order by id desc limit #{start}, #{limit}
    </select>

    <select id="searchCount" parameterType="String" resultType="Integer">
        select count(id) from goodfood_board_table
        where boardStoreName like concat('%', #{q}, '%') or
            boardStoreAddress like concat('%', #{q}, '%') or
            boardStoreKind like concat('%', #{q}, '%')
    </select>

    <select id="categoryList" parameterType="java.util.HashMap" resultType="board">
        select * from goodfood_board_table where boardCategory = #{boardCategory}
        order by id desc limit #{start}, #{limit}
    </select>

    <select id="categoryCount" parameterType="Integer" resultType="Integer">
        select count(id) from goodfood_board_table where boardCategory = #{boardCategory}
    </select>

    <select id="categorySearchList" parameterType="java.util.HashMap" resultType="board">
        select * from goodfood_board_table
        where boardCategory = #{boardCategory} and
            (boardStoreName like concat('%', #{q}, '%') or
             boardStoreAddress like concat('%', #{q}, '%') or
             boardStoreKind like concat('%', #{q}, '%'))
        order by id desc limit #{start}, #{limit}
    </select>

    <select id="categorySearchCount" parameterType="java.util.HashMap" resultType="Integer">
        select count(id) from goodfood_board_table
        where boardCategory = #{boardCategory} and
            (boardStoreName like concat('%', #{q}, '%') or
             boardStoreAddress like concat('%', #{q}, '%') or
             boardStoreKind like concat('%', #{q}, '%'))
    </select>

    <select id="doubleCheck" parameterType="board" resultType="board">
        select * from goodfood_board_table
        where boardStoreName = #{boardStoreName} and boardStoreAddress = #{boardStoreAddress}
    </select>

    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into goodfood_board_table(boardCategory, boardStoreName, boardStoreAddress, boardStoreKind, boardStoreNumber, boardStoreTime, boardStoreHomepage, FileAttached, memberId)
        values (#{boardCategory}, #{boardStoreName}, #{boardStoreAddress}, #{boardStoreKind}, #{boardStoreNumber}, #{boardStoreTime}, #{boardStoreHomepage}, #{FileAttached}, #{memberId})
    </insert>

    <insert id="saveFile" parameterType="boardFile">
        insert into goodfood_boardfile_table(originalFileName, storedFileName, boardId)
        values (#{originalFileName}, #{storedFileName}, #{boardId})
    </insert>

    <update id="boardHitsUp" parameterType="Long">
        update goodfood_board_table set boardStoreHits = boardStoreHits + 1 where id = #{id}
    </update>

    <select id="findById" parameterType="Long" resultType="board">
        select * from goodfood_board_table where id = #{id}
    </select>

    <select id="findFile" parameterType="Long" resultType="boardFile">
        select * from goodfood_boardfile_table where boardId = #{boardId}
    </select>

    <select id="findChoice" parameterType="choice" resultType="choice">
        select * from goodfood_boardchoice_table where boardId = #{boardId} and memberId = #{memberId}
    </select>

    <insert id="choice" parameterType="choice">
        insert into goodfood_boardchoice_table(boardId, memberId) values (#{boardId}, #{memberId})
    </insert>

    <delete id="unChoice" parameterType="choice">
        delete from goodfood_boardchoice_table where boardId = #{boardId} and memberId = #{memberId}
    </delete>

    <update id="choiceUp" parameterType="Long">
        update goodfood_board_table set boardStoreChoice = boardStoreChoice + 1 where id = #{id}
    </update>

    <update id="choiceDown" parameterType="Long">
        update goodfood_board_table set boardStoreChoice = boardStoreChoice - 1 where id = #{id}
    </update>

    <update id="update" parameterType="board">
        update goodfood_board_table
        set boardCategory = #{boardCategory}, boardStoreName = #{boardStoreName},
            boardStoreAddress = #{boardStoreAddress}, boardStoreKind = #{boardStoreKind},
            boardStoreNumber = #{boardStoreNumber}, boardStoreTime = #{boardStoreTime},
            boardStoreHomepage = #{boardStoreHomepage}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from goodfood_board_table where id = #{id}
    </delete>

</mapper>














